
.form-signin {
  margin: 0 auto;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.top-input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.bottom-input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-div {
    width: 100%;
    max-width: 400px;
    background-color: rgb(29, 29, 29);
    border-radius: 4rem;
    padding: 2%;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-form {
  padding: 2%;
  background-color: rgb(29, 29, 29);
  border-radius: 2rem;
}

h1, h2, h3, h4, p {
  font-weight: 200;
}

h1 {
    color: rgb(255, 255, 255);
}

h3, h4 {
  margin-bottom: 4%;
}

.project {
    min-width: 20%;
    max-width: 20%;
    border-radius: 4rem;
    background-color: rgb(29, 29, 29);
    color:white;
    margin: 1%;
    padding: 2%;
  }

.upload p {
    margin-bottom: 0px;
    font-weight: 400;
}

.navbar {
  background-color: #0071BC;
}

.navbar p {
  font-weight: 400;
}

.logout {
  color:white;
}

.mixes {
  border-left: dotted rgb(29, 29, 29) 1px;
}

.loading {
  animation: loading-animation infinite 1s linear;
}

@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
